---
layout: page
permalink: /categories/
title: Posts by category
---
Beware of the piranhas (click at your own risk). 
<br> 
<br>

<h3>Reflections</h3>
{% for post in site.categories.Reflections %}
 <li><span>{{ post.date | date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
 {% endfor %}

<h3>Philosophy</h3>
 
{% for post in site.categories.Philosophy %}
 <li><span>{{ post.date | date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
 {% endfor %}
 
<h3>Physics</h3>

{% for post in site.categories.Physics %}
 <li><span>{{ post.date | date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
 {% endfor %}

<h3>Finance</h3>
 
{% for post in site.categories.Finance %}
 <li><span>{{ post.date | date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
 {% endfor %}

<h3>Unhinged</h3>
 
{% for post in site.categories.Unhinged %}
 <li><span>{{ post.date | date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
 {% endfor %}
